{% extends "base_page.html" %}

<!-- load static -->
{% load static %}

{% block page-title %}
Gallery
{% endblock %}

{% block page-heading %}
Home
{% endblock %}

{% block content-heading %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-10 fw-normal">Previous Comments</h1>
</div>
{% endblock %}

{% block content-body%}
<div class="container px-4 py-5" id="terms-table">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col" class="py-3">#</th>
              <th scope="col" class="py-3">Name</th>
              <th scope="col" class="py-3">Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for cnt, term, definition in terms %}
            <tr>
                <td class="py-3">{{ cnt }}</td>
                <td class="py-3">{{ term }}</td>
                <td class="py-3">{{ definition }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}

{% block content-underbody %}

{% endblock %}

{% block footer %}

{% endblock %}