{% extends "base_page.html" %}

<!-- load static -->
{% load static %}

{% block page-title %}
Pricing
{% endblock %}

{% block page-heading %}
Home
{% endblock %}

{% block content-heading %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-10 fw-normal">Questionnaire</h1>
    <p class="fs-2 text-body-secondary">How do you like to learn English?</p>
  </div>
</header>
{% endblock %}

{% block content-body%}
<main>
    <form method="post">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">By yourself</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>easy</li>
              <li>peasy</li>
              <li>lemon</li>
              <li>squeezy</li>
            </ul>
            <input
            type="checkbox"
            name="yourself_button" id="yourself_button" class="larger"/>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
            <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Online</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>a miser </li>
              <li>pays</li>
              <li>twice</li>
              <li>!</li>
            </ul>
            <input
            type="checkbox"
            name="online_button" id="online_button" class="larger"/>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">With a tutor</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Damn</li>
              <li>I hate</li>
              <li>English</li>
              <li>classes</li>
            </ul>
            <input
            type="checkbox"
            name="tutor_button" id="tutor_button" class="larger"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" formaction="/send-choice">Submit</button>
        </div>
        <div class="col">
        </div>
    </div>
</form>
</main>
{% endblock %}

{% block content-underbody %}
<div class="container px-4 py-5" id="stats">
    <div>
        <h3 class="py-2">Overall</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ yourself }}</h4>
            <p class="text-muted">yourself</p>
        </div>
        <div class="col-md-4">
            <h4>{{ online }}</h4>
            <p class="text-muted">Online</p>
        </div>
        <div class="col-md-4">
            <h4>{{ tutor }}</h4>
            <p class="text-muted">Tutor</p>
        </div>
    </div>
    <div>
        <h3 class="py-2">Details</h3>
    </div>
    <div class="row text-center">
        <div class="col-md-4">
            <h4>{{ db_added}}</h4>
            <p class="text-muted">DB</p>
        </div>
        <div class="col-sm-4">
            <h4>{{ user_added }}</h4>
            <p class="text-muted">User</p>
        </div>
    </div>
</div>

<symbol id="check" viewBox="0 0 16 16">
  <path d="{% static 'check.png' %}"/>
</symbol>

<h2 class="display-6 text-center mb-4">Compare methods</h2>
    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">By yourself</th>
            <th style="width: 22%;">Online</th>
            <th style="width: 22%;">With a tutor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Learn english</th>
            <td> <img src="{% static 'check.png' %}" width="10%"> </td>
            <td> <img src="{% static 'check.png' %}" width="10%"> </td>
            <td> <img src="{% static 'check.png' %}" width="10%"> </td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Skip classes</th> 
            <td> <img src="{% static 'check.png' %}" width="10%"> </td>
            <td> <img src="{% static 'check.png' %}" width="10%"> </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}

{% block footer %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="{% static 'dog.gif' %}" alt="" width="24" height="19">
        <small class="d-block mb-3 text-body-secondary">&copy; 2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div> 
{% endblock %}